#vid-pl {
	width: 700px;
	height: 400px;
	position: relative;
}

#video-controls {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 4px;
	opacity: 0;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-o-transition: opacity .3s;
	-ms-transition: opacity .3s;
	transition: opacity .3s;
	background-image: linear-gradient(bottom, rgb(8, 124, 74) 13%, rgb(1, 66, 44) 100%);
	background-image: -o-linear-gradient(bottom, rgb(8, 124, 74) 13%, rgb(1, 66, 44) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(8, 124, 74) 13%, rgb(1, 66, 44) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(8, 124, 74) 13%, rgb(1, 66, 44) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(8, 124, 74) 13%, rgb(1, 66, 44) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.13, rgb(8, 124, 74)),
		color-stop(1, rgb(1, 66, 44))
	);
}

#vid-pl:hover #video-controls {
	opacity: .9;
}

button {
	background: rgba(0,0,0,.5);
	border: 0;
	color: #EEE;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

button:hover {
	cursor: pointer;
}

#seek-bar {
	width: 340px;
}

#volume-bar {
	width: 60px;
}